
.search{
    width: 570px;
    margin: 40px auto 10px;
    clear: both;
    position: relative;
    font-size: 16px;
    input{
        padding-left: 15px;
        padding-right: 90px;
        width: 485px;
        height: 38px;
        line-height: 38px;
        border: 1px solid #ddd;
        border-right: none;
        background-color: #fff;
        font-size: 14px;
        color: #333;
        border-radius: 2px;
    }
    .ui-btn{
        display: block;
        width: 100px;
        height: 38px;
        line-height: 38px;
        color: #fff;
        position: absolute;
        border: 0;
        text-align: center;
        top: 0;
        right: -1px;
        background-color: #4e92f7;
        border-radius: 0 2px 2px 0;
        font-size: 16px;
    }
}
.data-list{
    position: relative;
    width: 1138px;
    min-height: 600px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px 0px;
    box-sizing: border-box;
}

.tips{
    text-align: center;
    color: #888899;
    font-size: 14px;
    margin-bottom: 30px;
}

.echart-main{
    margin: auto;
    overflow: scroll;
}



.title {
    font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    display: block;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 0 15px;
    font-size: 36px;
    text-align: center;
    text-shadow: 0 3px 6px rgba(0,0,0,.2);
    color: #fff;
    margin: 25px auto 5px;
  }
.report-content{
    width: 1180px;
    margin: 0 auto 15px;
    border: 1px solid #e6e6e6;
    box-shadow: 0 0 2px 2px hsla(0,0%,79%,.2);
    background: #fff;
    padding: 0 18px 18px;
    padding: 0 20px 20px;
    border-radius: 5px;
    background: url(~@/assets/img/report-title.png) no-repeat top #166df2;
}
.report-line{
    width: 100%;
    height: 60px;
    background: url(~@/assets/img/report-ding.png) no-repeat 50%;
    position: relative;
    z-index: 2;
    margin: -20px 0;
}
.report-title{
    height: 140px;
}
.float{
    float: left;
}

.new-big-title{
    position: absolute;
    top: 25px;
    left: 0;
    background: #3080fb;
    padding: 0 15px;
    line-height: 46px;
    font-size: 20px;
    color: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.small-title{
    padding-left: 50px;
    width: 400px;
    font-size: 22px;
    color: #656565;
    line-height: 46px;
    float: left;
    padding-top: 120px;
    span{
        color: #0c7df5;
        padding: 0 3px;
    }
}



// 
.weibo-main{
    position: relative;
    margin: auto;
    overflow: scroll;
}

.weibo-main ul{
    position: relative;
}

.weibo-time{
    font-size: 14px;
    color: #888899;
}

.weibo-reports{
    font-size: 14px;
}
.weibo-content{
    width: 470px;
    height: 230px;
}
.weibo-main ul{
    li:nth-child(n){
    }
    li:nth-child(2n){

    }
}